---
import Layout from "../../layouts/Layout.astro";
import prisma from "../../lib/prisma";

// get user profile information via dynamic routing of the username in the url
// TODO: someday
/* get the user data from the session */
const username = Astro.params.username;
const user = await prisma.user.findFirst({
  where: {
    username: username
  }
});
---

<Layout title="Ask a question!">
  <main>
    <h1>Profile Page</h1>
    <p>{username}</p>
    <h2>Name: {user?.name}</h2>
    <h2>Username: {user?.username}</h2>
    <h2>Email: {user?.email}</h2>
    <h2>Target language: {user?.target_language}</h2>
  </main>
</Layout>

<style>
  h1,
  h2 {
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    line-height: 225%;
  }

  .selection-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5%;
  }

  .post-button {
    float: right;
    margin-right: 7%;
    background-color: #18ab29;
    border-radius: 20px;
    border: 2px solid #18ab29;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px;
    text-decoration: none;
  }
  .post-button:hover {
    background-color: #5cbf2a;
  }
  .post-button:active {
    position: relative;
    top: 1px;
  }
</style>
