---
import prisma from "@lib/prisma";
import { getUserIdFromCookie } from "@lib/utils";
import AppLayout from "@layouts/AppLayout.astro";
import Heading from "@components/Heading.astro";
import Instructions from "@components/Instructions.astro";
import QuestionCard from "@components/QuestionCard.astro";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/login");
}
/* Verify session cookie and get user */
const userId = await getUserIdFromCookie(sessionCookie);

if (!userId) {
  return Astro.redirect("/login");
}
/* find my posts */
const postsFromDB = await prisma.question.findMany({
  where: {
    user_id: userId,
  },
  select: {
    question: true,
    id: true,
    has_response: true,
    post_language: true,
    Response: {
      select: {
        id: true,
      },
    },
  },
});

/* Find my responses that have comments attached */
const myResponses = await prisma.response.findMany({
  where: {
    user_id: userId,
  },
  select: {
    content: true,
    feedback: true,
    id: true,
    question: {
      select: {
        question: true,
        post_language: true,
        has_response: true,
        id: true,
      },
    },
  },
});
---

<AppLayout title="Inbox">
  <div class="max-w-3xl mx-auto">
    <Heading title="Inbox" />
    <Instructions description="Check your questions and answers here" />
    <Heading title="My questions" />
    <div class="grid grid-cols-1 gap-4 mt-4">
      {postsFromDB.length > 0 ? postsFromDB.map((post) => <QuestionCard post={post} />) : 
      <p class="p-4 bg-white border rounded-md mt-4">You have not posted any questions yet.</p>}
    </div>
    <Heading title="My answers" />
    <div class="grid grid-cols-1 gap-4">
    {
      myResponses.length > 0 ? myResponses.map((response) => (
        <div class="mt-4">
          <div class="border rounded-md p-2 grid grid-cols-1 gap-2">
            <article class="flex flex-col gap-2 p-6 border items-baseline bg-white rounded-md">
              <span class="inline-block px-2 bg-blue-200 text-xs uppercase font-medium text-blue-800 rounded-md">
                {response.question.post_language}
              </span>
              <p class="text-center">{response.question.question}</p>
            </article>
            <div class="p-4 bg-white rounded border">
              <strong>Response: </strong>
              {response.content}
            </div>
            {response.feedback ? <div class="p-4 bg-white rounded border">
              <strong>Feedback: </strong>
              {response.feedback}
            </div> : null}
          </div>
        </div>
      )) : <p class="p-4 bg-white border rounded-md mt-4">You have not answered any questions yet.</p>
    }
    </div>
  </div>
</AppLayout>
